.profile-accounts {

	div.acc-div {
		display: flex;
		justify-content: flex-end;
	    padding-right: 1em;

		.add-acc {
			width: 150px;
		    height: 40px;
		    color: #fff;
		    border: 0;
		    background: #03CF9E;
		    border-radius: 2px 0px 0px 2px;
		}
	}
}