.mobile-balance-section {
  padding: 10px 0 20px 10px;

  .mobile-flex {
    display: flex;
    margin-left: 10px !important;
  }
}

.mobile-balance > .balance {
  display: block !important;
  margin-top: 20px;
  width: 60%;
  background: #004044 !important;
  height: inherit;

  h2 {
    font-weight: 100;
    font-size: 28px;
  }

  .flex {
    width: 90%;

    p:nth-child(1) {
      color: #a6a6a6;
      font-weight: 100;
      font-size: 12px;
    }
  }

  .small-text {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 100;
  }

  .btn {
    margin: 10px 0 0 0;
  }
}

.mobile-margin {
  padding: 0 10px;
  margin-bottom: 20px;

  .margin {
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;

    h6 {
      color: #8a8a8a;
      font-size: 12px;
    }

    p {
      color: #ffffff;
      font-size: 17px;
      font-weight: 100;
    }
  }
}

.recent-activities {
  padding: 10px;
  background: #006066;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
}

.recent-flex {
  display: flex;
  justify-content: space-between;

  h6 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 100;
  }

  .select {
    width: 120px;
    background: #002f32;
    border-radius: 2px;
    height: 30px;
    border: none !important;
    color: #03CF9E;
  }
}

.current-date-selection {
  color: #A6A6A6;
  font-size: 11px;
  margin: 20px 0;
  // font-weight: 100;
}

.mob-activity {
  display: flex;
  justify-content: space-between;
}

.mob-activity:not(:last-of-type) {
  margin-bottom: 15px;
}

.mob-activity-left {
  display: flex;

  img {
    margin-right: 5px;
  }

  .mob-trans-type {
    text-transform: capitalize;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 100;
  }

  .mob-small {
    color: #C4C4C4;
    font-size: 12px;
    letter-spacing: 1px;

    span {
      color: #FFFFFF;
    }
  }
}

.mob-activity-right {
  color: #FFFFFF;
  font-size: 13px;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .mobile-balance-section {
    display: none;
  }
}