.filter-section {
  width: 155px;
  background-color: inherit;
  display: flex;
  border: 2px solid #03CF9E;
  border-radius: 5px;
  padding: 5px;

  img {
    width: 15px;
    height: 15px;
    margin-top: 2px;
  }

  select {
    background-color: inherit;
    border: none;
    height: 100%;
    color: #03CF9E;
    font-size: 12px;
  }
}