.open-trades-container {
  padding: 10px 0 0 0;
}

.open-trades-container-top {
  display: flex;

  .filter-section {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .open-trades-container {
    padding: 0 10px 20px 10px;
    margin-top: 20px;
  }

  
  .open-trades-container-top {
    flex-direction: column;

    .filter-section {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}