.favourites {
  h2 {
    font-size: 17px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
  }
  width: 57%;
  margin-top: 10px;
  background: #002426;
  border-radius: 3px;
  padding: 10px;

  .single-box {
    width: 95%;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #03cf9e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    p {
      color: #03cf9e;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .favourite-flex {
    height: 163px;
    position: relative;
    overflow: auto;
    .favourite-section-containers {
      width: 82%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .rect-box {
      width: 80px;
      height: 140px;
      border-radius: 3px;
      border: 1px solid #03cf9e;
      margin-top: 14.5px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 3em;
      top: 6.5em;

      p {
        color: #03cf9e;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #004044;
  cursor: pointer;
}

}

.show-fav-under {
  display: none;
}

@media screen and (max-width: 1100px) {
  .favourites {
    padding: 15px;
    height: 100%;
    .favourite-flex {
      .favourite-section-containers,
      .rect-box {
        margin-right: auto;
        margin-left: auto;
      }
      flex-direction: column;

      .rect-box {
        width: 80% !important;
        height: 80px !important;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .favourites {
    display: none;
    height: inherit;
    padding: 15px;
    h2 {
      display: none;
    }

    width: 95%;
    margin: 10px auto;
    padding: 10px 5px 15px 5px;

    .favourite-flex {
      .favourite-section-containers {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      flex-direction: column;

      .rect-box {
        width: 90% !important;
        height: 80px;
        border-radius: 3px;
        border: 1px solid #03cf9e;
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #03cf9e;
          font-size: 25px;
          cursor: pointer;
        }
      }
    }
  }

  .show-fav-under {
    display: block;
  }
}
