.market-pair {
  padding: 10px 15px;
  font-family: Poppins, sans-serif;
}

[disabled] {
  filter: grayscale(1);
  .sell, .market-sell-data {
    background: #03cf9e !important;
  }
}

.market-search {
  margin: 50px auto 0 auto;
  display: flex;
  padding: 0 15px;
  border: 1px solid #c4c4c4;
  width: 90%;
  border-radius: 3px;

  input {
    background: inherit;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: #C4C4C4;
  }
}

.market-pairs {
  height: 100vh;
  height: calc(100vh - 180px);
  overflow-y: scroll;
}

.market-pairs::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.market-pairs::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.market-pairs::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
.market-pairs::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.market-pair-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 7px;

  h5 {
    color: #ffffff;
    font-size: 13px;
  }

  .for-star {
    width: auto;
    height: auto;
    border: 0px solid transparent;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    align-self: right;
  }

  &>img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 10px;
    align-self: right;
  }
}

.market-big-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.market-big-flex > p {
  font-size: 12px;
  color: #ffe602;
  font-size: 70%;
  position: relative;
  left: -5px;
}

.market-cta-section {
  display: flex;
}

.market-sell-data,
.market-buy-data {
  display: flex;
  justify-content: space-between;
}

.market-sell-data {
  background: #ff1e1e;
  border-radius: 3.7px 0px 0px 3.7px;
  cursor: pointer;
  color: #ffffff;
  width: 90px;
  padding: 3px 7px;
  height: 40px;
  overflow: hidden;

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 11px;
  }
}

.market-buy-data {
  cursor: pointer;
  background: #03cf9e;
  border-radius: 0px 3.7px 3.7px 0px;
  color: #ffffff;
  width: 90px;
  padding: 3px 7px;
  height: 40px;
  overflow: hidden;

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 11px;
  }
}

.market-spread-data {
  cursor: pointer;
  width: 60px;
  background: #2a4750;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
}

.market-sell > p,
.market-spread > p,
.market-buy > p {
  color: #a09f9f;
  font-size: 12px;
}

.market-spread > p {
  text-align: center;
}

.market-buy > p {
  text-align: right;
}

.market-sell-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .market-pairs {
    height: inherit;
    overflow-y: none;
  }

  .market-search {
    margin-top: 10px;
    display: flex !important;
  }
}
