.password-reset {
  background: url('../../themes/images/rect_bg.png');
  background-repeat: no-repeat;
  background-size: 50vw 100vh;
  height: 100%;
  font-family: Poppins, sans-serif;
}

.password-reset-container {
  width: 100%;
  display: flex;

  .image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 400px;
      height: 400px;
    }
  }

  .reset-form-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 400px;
    }

    .success {
      text-align: center;
      font-size: 12px;
    }

    .reset-form-heading {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      .reset-header-text {
        position: relative;
        h2 {
          font-size: 26px;
          margin: 0 !important;
        }

        p {
          font-size: 13px;
          color: #a09f9f;
        }
      }
    }

    .reset-form-container {
      margin-bottom: 15px;

      input {
        border: 2px solid #c4c4c4;
        border-radius: 5px;
      }

      input:focus {
        outline: none;
      }
    }

    input[type='submit'] {
      background: #03cf9e;
      border-radius: 5px;
      border: none;
      padding: 10px 0;
      margin-top: 15px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 650px) {
  .password-reset {
    background-image: none;
    background: #f8fefa;
  }

  .password-reset-container {
    flex-direction: column;

    .image {
      display: none;
    }

    .reset-form-section {
      width: 100%;
      margin-top: 70px;

      form {
        width: 85%;
      }

      .reset-form-heading {
        text-align: center;
        flex-direction: column;

        img {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      .reset-form-container {
        margin-bottom: 30px;
      }

      input[type='submit'] {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .password-reset-container {
    .image {
      img {
        width: 300px;
        height: 300px;
      }
    }

    .reset-form-section {
      form {
        width: 300px;
        height: 300px;
      }

      .reset-form-heading {
        img {
          width: 20px;
          height: 20px;
        }

        .reset-header-text {
          h2 {
            font-size: 20px;
            margin: 0 !important;
          }
        }
      }
    }
  }
}
