.dash-container {
  background-color: #004044;
  display: flex;
  min-height: 100vh;
}

.dash-container > .right {
  width: calc(100% - 170px);
}

.dash-container > .smaller-right {
  width: calc(100% - 60px);
}

.trade-section {
  display: flex;
  height: calc(100% - 60px);
  width: 100%;
  .left {
    position: relative;
    background-color: #006066;
    border: 1px solid #a6a6a6;
    width: 220px;
    display: block;

    .filter-img {
      position: absolute;
      right: 15px;
      top: 20px;
      cursor: pointer;
    }
  }

  .big-left {
    width: 320px;

    .loader-container {
      position: absolute;
      z-index: 580;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .right {
    width: calc(100% - 220px);
  }

  .big-right {
    width: calc(100% - 320px);
  }
}

.margin-top {
  margin-top: 80px;
}

.margin-top-small {
  margin-top: 10px;
}


.right > .trade-comp-container {
  width: 100%;
  padding: 0 20px 10px 20px;
}

.trade-overview-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;

  .balance-margin {
    display: flex;
    width: 43%;

    .balance-demo {
      width: 70%;
    }

    .margin-stuff {
      margin: 0 10px;
    }
  }

  .margin-stuff {
    width: 160px;
    height: 160px;
    background: #004448;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .margin {
      font-family: Poppins, sans-serif;
      color: #ffffff;

      h6 {
        color: #8a8a8a;
        font-size: 12px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .trade-section {
    .left {
      position: fixed;
      width: 220px;
      height: 400px;
      z-index: 4;
      display: none;
      bottom: 0 !important;
      left: 0;
    }

    .display-l-nav {
      display: block;
    }

    .right {
      width: 100% !important;
    }
  }

  .dash-container > .right {
    width: calc(100% - 60px);
  }

  .market-section {
    display: block !important;

    .big-left {
      position: static;
      width: 600px;
      margin: 0 auto;
      display: block !important;
      background: inherit;
      height: inherit;
      border: none;
      padding-bottom: 70px;

      .filter-img {
        display: none;
      }

      .margin-top-small {
        margin-top: 10px;
        display: block !important;
      }
    }

    .big-right {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .trade-section {
    .left {
      bottom: 50px !important;
    }
  }
  .right > .trade-comp-container {
    padding: 0 10px 80px 10px;
  }

  .dash-container {
    padding-bottom: 50px;
  }

  .trade-overview-row {
    flex-direction: column;

    .balance-margin {
      width: 100%;
      flex-direction: row;
      // justify-content: space-around;
      margin-left: 10px;

      .margin-stuff {
        display: none;
      }
    }
  }

  .market-section {
    .big-left {
      width: 450px;
    }
  }
}

@media screen and (max-width: 600px) {
  .dash-container {
    position: relative;
  }

  .dash-container > .right {
    width: 100%;
  }

  .market-section {
    .big-left {
      width: 350px;
    }
  }
}
