.transactions-section {
  padding: 30px 30px 60px 30px;
  
  .loader-container {
    position: absolute;
    top: 30%;
    z-index: 100000000;
    left: 46.5%;
  }
}

.transaction-box {
  width: 95%;
  background: #006066;
  position: relative;
  z-index: 10;
  margin: -1px auto 0 auto;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media screen and (max-width: 600px) {
  .transactions-section {
    padding: 10px 10px 60px 10px;
  }

  .transaction-box {
    width: 97%;
  }
}